@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard" !important;
  font-weight: 200;
}

*,
*::before,
*::after {
  font-family: "Pretendard" !important;
  font-weight: 200;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  outline: none !important;
}

[style],
[style*="font-family"],
[style*="color"],
span[style],
div[style] {
  font-family: "Pretendard" !important;
  font-weight: 200;
}

img {
  -webkit-user-drag: none;
  outline: none !important;
}
